/* CSS Accueil */




.accueilPartieLaTinyHouse{
    padding-top: 120px;
    background-image: url(https://www.mapetitemaison.com/wp-content/uploads/2015/03/tiny-house-ontheroad-by-Mapetitemaison-premi%C3%A8re-boutique-glamping-france.jpg);
    padding-bottom: 400px;
    color: #FFF;
    text-align: center;
}

.camion {
    position: relative;
    cursor: pointer;
    margin-left: -42%;
    z-index: 1;
}

.accueilContenuLaTinyHouse {
    color: #FFF;
    margin-top: -19px;
    margin-left: 25%;
    margin-right: 25%;
    color: #FFF;
    font-weight: bolder;
    background-color: #0B080880;
}

.accueilTitreLaTinyHouse {
    font-size: 300%;
    padding-top: 2%;

}

.accueilImageOptimisation {
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.accueilPartieOptimisation {
    background-color: #334046;
    color: #FFF;
    overflow: hidden;


}

.accueilOptimisationTitreContenu {
    margin-left: 50%;
    margin-top: 10%;
    margin-right: 10%;
}