.team {
    padding-top: 140px;
    padding-bottom: 40px;
    text-align: center;
}

.equipe {
    float: left;
    padding-top: 20px;
    padding-left: 2em;
    padding-right: 2em;
}

.membersEquipe {
    float: left;
    text-align: center;
    padding-top: 20px;
    padding-left: 1em;
    padding-right: 1em;
}

.membersEquipe button {
    cursor: pointer;
}

.membersEquipe img {
    width: 245px;
    height: 244px;
}

.membersEquipe h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}