footer{
    background-color: #334046;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
    color:white;
    display: flex;
    width:100%;
    flex-wrap:wrap;
    align-items:stretch;
    justify-content: space-between;
    flex: 1 1 1;
}

a{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    color: #FFF;
    transition: all 0.1s ease 0.2s;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 font-size: 1rem;
}

 a:hover{
    color: #62bcda;
    transition: all 0.3s ease 0.2s;
 }


 