header {
    position: fixed;
    display:inline;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #334046;
    line-height: 40px;
    z-index: 11;

}
nav{
    padding: 0 10px;
    padding-left: 600px;
    }

nav li{
    font-size:20px;
    display:inline;
    text-align:center ;
}
nav a{
    margin-top: -15px;
    font-weight: bold;
    text-decoration: ;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    color: #FFF;
    transition: all 0.1s ease 0.2s;
}
nav a:hover{
    color: #62bcda;
    transition: all 0.3s ease 0.2s;
}
