.presentation-pdt{
    display: flex;
    width:80%;
    flex-wrap:nowrap;
    align-items:stretch;
    justify-content: space-between;
    
}
.img-produit{
    width:300px;
    height:200px;
    vertical-align:top;
}

p .produits{
    height:60px;
}
